---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Integrationsbolaget">
	<header>
		<a href="/" title="Home">
			<img
				alt="Background image of person walking amongst mountains"
				src="/images/cropped-Integrationsbolaget-Omegapoint-byline_white.png"
				loading="eager"
			/>
		</a>

		<h1>Partnerskap för hållbar systemintegration</h1>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
			preserveAspectRatio="none"
		>
			<polygon
				class="svg--sm"
				points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"></polygon>
			<polygon
				class="svg--lg"
				points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100"
			></polygon>
		</svg>
	</header>
	<main>
		<section>
			<h2>"Systemintegration för effektiva arbetsflöden och bra affärer"</h2>
			<p>Integrationsbolaget skapar hållbar, framtidssäkrad systemintegration – från strategi och arkitektur till genomförande, drift och förvaltning. Vi gör det med utgångspunkt från dina specifika behov och mål, för effektiva arbetsflöden och bra affärer. Integrationsbolaget är det vassa och snälla IT-konsultbolaget – och din långsiktiga partner för systemintegration.</p>
			<button>Till våra erbjudanden</button>
		</section>
	</main>
</Layout>

<style>
	header {
		position: relative;
		height: 600px;
		background-image: url("/images/IB_start_2.jpeg");
		background-color: var(--petroleum);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	header img {
		width: 15rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}

	header h1 {
		margin: 0;
		text-align: center;
		color: white;
		font-size: 5.9vw;
	}

	header svg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		fill: var(--warmGrey);
	}

	main {
		display: grid;
	}

	main section {
		color: var(--petroleum);
		padding: 5rem 2rem;
		grid-template-columns: 1fr;
	}

	main section h2 {
		font-size: 4.5vw;
	}

	main section p {
		line-height: 1.5;
	}

	@media (max-width: 699px) {
		.svg--lg {
			display: none;
		}
	}

	@media (min-width: 700px) {
		.svg--sm {
			display: none;
		}
	}
</style>
