---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Integrationsbolaget">
	<header>
		<a href="/" title="Home">
			<img
				alt="Logo of Integrationsbolaget"
				src="./images/cropped-Integrationsbolaget-Omegapoint-byline_white.png"
				loading="eager"
			/>
		</a>
		<svg id="menu" viewBox="0 0 100 80" width="40" height="40">
			<rect width="100" height="20" rx="8"></rect>
			<rect y="30" width="100" height="20" rx="8"></rect>
			<rect y="60" width="100" height="20" rx="8"></rect>
		</svg>

		<h1>Partnerskap för hållbar systemintegration</h1>
		<svg id="logo"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
			preserveAspectRatio="none"
		>
			<polygon
				class="svg--sm"
				points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"></polygon>
			<polygon
				class="svg--lg"
				points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100"
			></polygon>
		</svg>
	</header>
	<main>
		<section class="hidden">
			<h2>
				"Systemintegration för effektiva arbetsflöden och bra affärer"
			</h2>
			<p>
				Integrationsbolaget skapar hållbar, framtidssäkrad
				systemintegration - från strategi och arkitektur till
				genomförande, drift och förvaltning. Vi gör det med utgångspunkt
				från dina specifika behov och mål, för effektiva arbetsflöden
				och bra affärer. Integrationsbolaget är det vassa och snälla
				IT-konsultbolaget - och din långsiktiga partner för
				systemintegration.
			</p>
			<button>Till våra erbjudanden</button>
		</section>
		<section style="background-color: var(--lightBlue)">
			<h2>Vårt erbjudande</h2>
			<p>
				Vårt tredelade erbjudande är baserat på mångårig erfarenhet,
				marknadsledande kompetens, återanvändbara processer och starkt
				medarbetarengagemang.
			</p>
			<div>
				<div class="hidden">
					<h3>Integration advisory</h3>
					<p>
						En genomtänkt och hållbar integrationsarkitektur och
						-strategi utgår från företagets behov och övergripande
						mål. Vi ser till att tekniken är ett stöd för
						verksamheten och för affären.
					</p>
					<button>Läs mer om Integration advisory</button>
				</div>
				<div class="hidden">
					<h3>Integration implementation</h3>
					<p>
						Vi jobbar enligt beprövade integrationsmönster för
						återanvändning och förvaltningsbarhet, enligt
						processerna på ditt företag eller enligt vår egen
						kvalitetssäkrade utvecklingsprocess.
					</p>
					<button>Läs mer om Integration implementation</button>
				</div>
				<div class="hidden">
					<h3>Integration life cycle management</h3>
					<p>
						Vi tar över ägarskapet, förvaltningen och ansvaret för
						att integrationerna är tillgängliga när du behöver dem -
						tryggt och effektivt.
					</p>
					<button>Läs mer om Integration life cycle management</button
					>
				</div>
			</div>
		</section>
		<section class="hidden" style="background-color: var(--petroleum); color: white;">
			<h2>Jobba hos oss</h2>
			<p>
				Vi är ett gäng vassa och snälla konsulter - och vi är alltid på
				jakt efter fler talanger och kollegor att utvecklas tillsammans
				med. Nyfiken? Bra, det är vi med!
			</p>
			<button>Till karriär</button>
		</section>
		<section class="img"></section>
		<section class="hidden">
			<h2>Kunder och uppdrag</h2>
			<p>
				Våra kunders behov varierar, liksom våra lösningar. Det betyder
				att inget uppdrag är det andra likt. Men vi är glada och stolta
				över varenda ett!
			</p>
			<button>Till uppdrag</button>
		</section>
	</main>
</Layout>

<script defer is:inline>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			entry.target.classList.toggle("show", entry.isIntersecting);
		});
	});

	const hiddenElements = document.querySelectorAll(".hidden");
	hiddenElements.forEach((el) => observer.observe(el));
</script>

<style>
	header {
		position: relative;
		height: 600px;
		background-image: url("/images/IB_start_2.jpeg");
		background-color: var(--petroleum);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	header img {
		width: 10rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}

	header h1 {
		margin: 0;
		text-align: center;
		color: white;
		font-size: 5.9vw;
	}

	header #logo {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		fill: var(--warmGrey);
	}

	header #logo polygon {
		filter: drop-shadow(3px 0px 2px rgba(0, 0, 0, 0.7));
	}

	header #menu {
		width: 1.5rem;
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		fill: white;
		cursor: pointer;
	}

	header #menu:active {
		transform: scale(1.05);
	}

	main {
		display: grid;
	}

	main section {
		/* color: var(--petroleum); */
		padding: 5rem 2rem;
		grid-template-columns: 1fr;
	}

	main section h2 {
		font-size: 4.5vw;
	}

	main section p {
		line-height: 1.5;
	}

	main section > div {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 30px;
		row-gap: 30px;
	}

	.img {
		padding: 0;
		width: 100%;
		height: 300px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("/images/IB_jobba-hos-oss_2-e1643704747270-1024x588.jpeg");
	}

	@media (max-width: 699px) {
		.svg--lg {
			display: none;
		}
	}

	@media (min-width: 700px) {
		.svg--sm {
			display: none;
		}
	}
</style>
