---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style is:global>
			:root {
				--white: #fff;
				--black: #000;
				--lightBlue: #b8c2c8;
				--marine: #003349;
				--omegeaSun: #f9bc2e;
				--tango: #e87722;
				--maineshaft: #383838;
				--warmGrey: #d7d2cb;
				--lightGrey: #e5e5e5;
				--petroleum: #286166;
				--lightGreen: #c9d7d9;
				--sal-delay: 150ms;
				--sal-duration: 900ms;
				--sal-easing: ease;
			}

			html {
				background-color: var(--warmGrey);
			}

			body {
				margin: 0;
			}
		</style>
	</body>
</html>
