---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Integrationsbolaget" />
		<title>{title}</title>
	</head>
	
	<body>
		<slot />
		<style is:global>
			:root {
				--white: #fff;
				--black: #000;
				--lightBlue: #b8c2c8;
				--marine: #003349;
				--omegeaSun: #f9bc2e;
				--tango: #e87722;
				--maineshaft: #383838;
				--warmGrey: #d7d2cb;
				--lightGrey: #e5e5e5;
				--petroleum: #286166;
				--lightGreen: #c9d7d9;
				--sal-delay: 150ms;
				--sal-duration: 900ms;
				--sal-easing: ease;
			}

			html {
				background-color: var(--warmGrey);
				font-family: sans-serif;
			}

			body {
				margin: 0;
			}

			button {
				height: 3rem;
				border-radius: 1rem;
				border: none;
				cursor: pointer;
				padding: 0 2rem;
				box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
				background-color: var(--omegeaSun);
			}

			button:hover {
				opacity: 0.8;
			}

			button:active {
				transform: scale(1.02);
			}

			.hidden {
				opacity: 0;
				filter: blur(0);
				/* transform: translate(100%); */
				transition: all 2s;
			}

			.show {
				opacity: 1;
				/* transform: translate(0); */
				filter: blur(0);
			}

			@media(prefers-reduced-motion) {
				.hidden {
					transition: none;
				}
			}
		</style>
	</body>
</html>
